#page-wrapper{
	margin: 0;
	padding: 0;
}
#page-wrapper .container-fluid.no-indent{
	margin: 0;
	padding: 0;
}
#page-wrapper .footer{
	background: #f8f8f8;
	height: 50px;
	line-height: 50px;
	color: #555;
}

/* contoll_panel */
.contoll_panel{
	padding: 30px 0;
}

#page-wrapper .border_left{	
	border-left: 1px solid #ddd;
}
/* contoll_buttons */
.contoll_buttons{
	border: 1px solid #ddd;
	text-align: center;
	padding: 0 !important;
	margin-bottom: 20px;
}
.contoll_buttons > div{
	cursor: pointer;
	padding: 0;
}
.contoll_buttons > div:last-child{
	background-color: red;
	padding: 20px 0;
}
.contoll_buttons > div a{
	display: block;
	width: 100%;
	height: 100%;
	padding: 20px 0;
}
.help-href{
	text-align: center;
	display: block;
	margin: 20px 0;
	padding: 6px;
	border: 1px solid #ccc;
	background-color: #eee;
	border-radius: 5px;
}

#select_category{
	display: inline;
}
.logout{
	margin-top: 14px;
}
.logout button{
	border: none;
	background-color: transparent;
}
.not_a_href{
	line-height: 50px;
}

/* source-delete */
.source-delete form{
	display: inline-block;
}
.source-delete .modal-footer{
	border: none;
	text-align: center;
}
/* media */
@media only screen and (max-width: 767px){
	#page-wrapper .border_left{	
		border-left: none;
		border-top: 1px solid #ddd;
	}
	.contoll_panel{
		text-align: center;
	}
}