#page-wrapper{
	margin: 0;
	padding: 0;
}
#page-wrapper .container-fluid.no-indent{
	margin: 0;
	padding: 0;
}
#page-wrapper .footer{
	background: #f8f8f8;
	height: 50px;
	line-height: 50px;
	color: #555;
}

/* contoll_panel */
.contoll_panel{
	padding: 30px 0;
}

#page-wrapper .border_left{	
	border-left: 1px solid #ddd;
}
/* contoll_buttons */
.contoll_buttons{
	border: 1px solid #ddd;
	text-align: center;
	padding: 0 !important;
	margin-bottom: 20px;
}
.contoll_buttons > div{
	cursor: pointer;
	padding: 0;
}
.contoll_buttons > div:last-child{
	background-color: red;
	padding: 20px 0;
}
.contoll_buttons > div a{
	display: block;
	width: 100%;
	height: 100%;
	padding: 20px 0;
}
.help-href{
	text-align: center;
	display: block;
	margin: 20px 0;
	padding: 6px;
	border: 1px solid #ccc;
	background-color: #eee;
	border-radius: 5px;
}

#select_category{
	display: inline;
}
.logout{
	margin-top: 14px;
}
.logout button{
	border: none;
	background-color: transparent;
}
.not_a_href{
	line-height: 50px;
}

/* source-delete */
.source-delete form{
	display: inline-block;
}
.source-delete .modal-footer{
	border: none;
	text-align: center;
}
/* media */
@media only screen and (max-width: 767px){
	#page-wrapper .border_left{	
		border-left: none;
		border-top: 1px solid #ddd;
	}
	.contoll_panel{
		text-align: center;
	}
}

/* 3d */
.imageholder{
    width:350px;
    position:relative;
    border: 1px solid #888;
    margin: 20px auto;
}
#image_holder_x > span{
	display: none !important;
}

/* search */
.search{
	position: relative;
	margin-top: 7px;
}
.search button{
	position: absolute;
	top: 0;
	right: 0;
}
.search input{
	padding-right: 60px;
}

.my_lists {
    margin: 2px 0;
    padding: 5px;
    font-size: 18px;
    border-bottom: 1px solid #F5F5F5;
}

.panel-body ul {
    list-style: circle;
}
.my_lists_bold {
    font-weight: bold;
    margin: 2px 0;
    padding: 5px;
    font-size: 18px;
    border-bottom: 1px solid #F5F5F5;
}
.panel-body li form {
    display: inline;
}
.panel-body  .del_item {
    color: red;
    float: right;
    margin-right: 10px;
    padding: 3px 4px 0px 4px;
}

.panel-body .change_item {
    color: #E1B152;
    float: right;
    padding: 3px 4px 0px 4px;
}
.panel-body .glyphicon {
    top: 3px;
}