#search-wrapper > i{
	height: 100%;
    font-size: 20px;
    line-height: 40px;
    cursor: pointer;
    transition: all .2s;
}
#search-wrapper form{
    display: none;
}
#search-wrapper form input{
    height: 35px;
    padding: 10px;
    margin-top: 4px;
    border: none;
    background-color: #eee;
    display: inline-block;
}

#search-wrapper form button{
    height: 35px;
    border: none;
    background-color: #eee;
    padding: 0;
    margin: 0;
    margin-left: -3px;
    display: inline-block;
    color: #dabc74;
    transition: all .2s;
    border-left: 1px solid #ddd;
    box-sizing:  
}
#search-wrapper form button:hover{
    background-color: #dabc74;
    color: #eee;
}
#search-wrapper form button i{
    padding: 0 10px;
	line-height: 35px;
}
#search-wrapper i:hover{
	color: #fff;
}


.topbar .social-icons-colored li a{
	background:transparent;
}
.topbar .social-icons-colored li.current a,
.topbar .social-icons-colored li a:hover{
	background:rgba(0,0,0,1);
}

.footer-widget.widget_links li{
	display: inline-block;
	padding: 5px 20px;
}

/* show resource */
.show-full{
	background-color: #dabc74;
	padding: 10px;
	text-align: center;
	color: #333;
	font-size: 20px;
	opacity: .3;
	margin-top: -6px;
	-webkit-transition: all .2s;
     -moz-transition: all .2s;
     -o-transition: all .2s;
     transition: all .2s;
     cursor: pointer;
}
.show-full:hover{
	opacity: .8;
}
/* 3d */
.imageholder{
    width:350px;
    position:relative;
    border: 1px solid #888;
    margin: 20px auto;
}
#image_holder_x > span{
	display: none !important;
}

/* show categories */
.all-documents-wrapper .exhibition-time{
	margin-top: 0;
}
.all-documents-wrapper .timeline-slot{
	width: 100%;
	border-left: none;
}
/* media */
@media only screen and (max-width: 767px){
	.pagination-info button{
		margin-top: 10px;
		width: 100%;
	}
}